<div class="block-playground-navigation" ...attributes>
  <LinkTo @route="index">ember-cli-zuglet</LinkTo>
  <LinkTo @route="playground.document">doc</LinkTo>
  <LinkTo @route="playground.query.array">query.array</LinkTo>
  <LinkTo @route="playground.query.single">query.single</LinkTo>
  <LinkTo @route="playground.models">models</LinkTo>
  <LinkTo @route="playground.content">content</LinkTo>
  <LinkTo @route="playground.reordering">reordering</LinkTo>
  <LinkTo @route="playground.route">route</LinkTo>
  <LinkTo @route="playground.auth">auth</LinkTo>
  <LinkTo @route="playground.storage">storage</LinkTo>
  <LinkTo @route="playground.functions">functions</LinkTo>
  <LinkTo @route="playground.messages">messages</LinkTo>
  <LinkTo @route="playground.dev">_dev</LinkTo>
</div>