.ui-route-docs {
  $w: 250px;
  > .toc {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: $w;
    border-right: 1px solid fade-out(#000, 0.95);
    padding: 35px 20px 20px 25px;
  }
  > .content {
    border-left: $w solid rgba(0,0,0,0);
    padding: 15px 40px 40px 40px;
  }
}
