.ui-route-experiments {
  .experiment {
    margin-bottom: 10px;
    > .name {
      font-weight: 500;
    }
    > .description {
      font-size: 11px;
      line-height: 11px * 1.3;
    }
  }
  .ui-block-menu .item > a.active {
    text-decoration: none;
  }
}
