.ui-route-index {
  margin: 80px 50px;
  font-size: 18px;
  max-width: 800px;
  @include breakpoint(tablet) {
    margin: 50px 40px;
  }
  @include breakpoint(mobile) {
    margin: 25px 20px;
  }
}

.ui-route-index-section {
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  > .aside {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    width: 70px;
    opacity: 0.3;
  }

  > .content {
    flex: 1;
    overflow-x: hidden;
  }

  @include breakpoint(tablet) {
    font-size: 15px;
  }

  @include breakpoint(mobile) {
    display: block;
    font-size: 15px;
    > .content {
      code {
        font-size: 13px;
      }
    }
  }

  &.header {
    > .content {
      > .fire {
        font-size: 32px;
        line-height: 1em;
        margin-bottom: 5px;
        &:after {
          content: '🔥';
        }
        @include breakpoint(non-desktop) {
          font-size: 24px;
        }
      }
      > .header {
        font-size: 26px;
        > .prefix {
          font-weight: 300;
        }
        > .value {
          font-weight: 500;
        }
        @include breakpoint(mobile) {
          > .prefix {
            display: none;
          }
        }
      }
    }
  }

  &.links {
    > .content {
      display: flex;
      flex-direction: row;
      font-weight: 500;
      > a {
        margin-right: 10px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
