service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    match /blogs/{document=**} {
      allow read, write;
    }

    match /duck/{document=**} {
      allow read, write;
    }

    match /ducks/{document=**} {
      allow read, write;
    }

    match /hamsters/{document=**} {
      allow read, write;
    }

    match /messages/{document=**} {
      allow read, write;
    }

    match /quotes/{document=**} {
      allow read, write;
    }

    match /things/{document=**} {
      allow read, write;
    }

    match /zuglet/{document=**} {
      allow read, write;
    }

  }
}
