{{#if route}}
  <div class="title">{{link-to title route}}</div>
{{else}}
  <div class="title">{{title}}</div>
{{/if}}

{{#if hasBlock}}
  <div class="items">
    {{yield (hash
      item=(component 'ui-block/content/navigation/item')
    )}}
  </div>
{{/if}}
