<div>{{this.model}}</div>
<div>{{this.model.data.message}}</div>

<Zuglet::Stats @stores={{true}}/>

{{!--

  .zuglet-stats {
    font-family: Menlo, Monaco;
    font-size: 12px;
    > .section {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      > .label {
        font-weight: 600;
      }
    }
  }

--}}