.ui-input-file {
  position: relative;
  display: inline-block;
  position: relative;
  overflow: hidden;
  > .input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    outline: none;
    opacity: 0.00001;
  }
  > .details {
    font-size: 13px;
    border: 1px solid #ddd;
    padding: 6px 12px;
    border-radius: 3px;
    > .prefix {
      color: #777;
    }
    > .name {
      font-weight: 600;
    }
  }
  &:hover {
    > .details {
      background: fade-out(#ddd, 0.8);
    }
  }
}
