.ui-block-console {
  font-family: $font-mono;
  font-size: 14px;
  padding: 10px;
  min-height: 100%;
  > .line {
    line-height: 20px;
    &.input {
      display: flex;
      > .marker {
        line-height: 20px;
      }
      > input {
        height: 20px;
        font-family: $font-mono;
        font-size: 13px;
        flex: 1;
        border: none;
        &:before {
          content: '>';
        }
      }
    }
  }
}
