.ui-block-master-detail {
  $w: 250px;
  > .master {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $w;
    border-right: 1px solid fade-out(#000, 0.95);
    padding: 30px 20px 20px 25px;
  }
  > .detail {
    border-left: $w solid rgba(0,0,0,0);
    padding: 15px 40px 40px 40px;
  }
}