.ui-block-master-detail {

  @include breakpoint(post-tablet) {
    $w: 200px;
    > .master {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: $w;
      border-right: 1px solid fade-out(#000, 0.95);
      padding: 30px 20px 20px 25px;
      overflow-y: scroll;
    }
    > .detail {
      border-left: $w solid rgba(0,0,0,0);
      padding: 15px 40px 40px 40px;
    }
  }

  @include breakpoint(non-desktop) {
    padding: 15px;
    @include breakpoint(tablet) {
      padding: 25px;
    }
    > .master {
      padding-bottom: 25px;
      margin-bottom: 50px;
      border-bottom: 1px solid fade-out(#000, 0.95);
    }
  }
}
