.ui-block-menu {
  > .title {
    margin-bottom: 20px;
    font-size: 13px;
    > .index {
      font-weight: 600;
      text-decoration: none;
      > .version {
        font-size: 11px;
        padding-left: 5px;
        &:before {
          content: 'v';
        }
      }
    }
    > .value {
      > a {
        text-decoration: none;
      }
    }
  }
  .item {
    $size: 12px;
    font-size: $size;
    line-height: $size * 1.5;
    font-weight: 500;
    > a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
    }
  }
  > .items {
    .items {
      padding-left: 10px;
    }
    > .item {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
