.ui-block-pages-toc {
  .node {
    > .title {
      line-height: 15px * 1.5;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
    }
    .node {
      > .nodes {
        padding-left: 10px;
      }
    }
  }
  > .node {
    > .nodes {
      > .node {
        > .title {
          font-weight: 500;
        }
        margin-bottom: 10px;
      }
    }
  }
}