<div class="route-messages-message-index">

  <div class="row">
    {{@model}}
  </div>

  <div class="row">
    {{@model.message}}
  </div>

  <div class="row">
    {{@model.message.id}}
  </div>

</div>