* {
  box-sizing: border-box;
}

a {
  color: #000;
}

button {
  font-family: $font-family;
  font-size: $font-size;
  -webkit-appearance: none;
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 3px;
  outline: none;
  &:hover {
    background: fade-out(#ddd, 0.8);
  }
}

label {
  display: block;
  margin-bottom: 2px;
  font-weight: 400;
}

input[type='text'],
input[type='password'] {
  font-family: $font-family;
  font-size: $font-size;
  -webkit-appearance: none;
  width: 100%;
  border: 1px solid #ddd;
  padding: 6px;
  border-radius: 3px;
  outline: none;
}
