.markdown {
  @mixin header-code() {
    > code {
      display: inline-block;
      font-size: 14px;
      padding-left: 5px;
    }
  }
  h1 {
    font-weight: 400;
    font-size: 21px;
    @include header-code();
  }
  h2 {
    font-weight: 400;
    font-size: 18px;
    margin: 40px 0 0px 0;
    @include header-code();
  }
  blockquote {
    margin: 0;
    border-left: 2px solid #ddd;
    padding: 0 0 0 10px;
  }
  li {
    padding: 0 0 5px 0;
    > p {
      margin: 0;
    }
    &:last-child {
      padding: 0;
    }
  }
}
