.ui-application {
  @import "global";
  @import "content";
  @import "ui-remark-render";
  flex: 1;
  display: flex;
  flex-direction: column;
  > .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
