@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

$font-family: 'Ubuntu Mono';
$font-size: 15px;
$font-size-smaller: 12px;

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  cursor: default;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.block-application {
  a,
  a:visited,
  a:active {
    color: #000;
  }

  button,
  input[type="button"] {
    font-family: $font-family;
    font-size: $font-size;
    background: fade-out(#000, 0.2);
    border-radius: 3px;
    border: none;
    color: #fff;
    padding: 5px 9px 5px 9px;
    outline: none;
    font-size: 14px;
    margin: 0;
  }

  button:disabled,
  input[type="button"]:disabled {
    color: #999;
  }

  input:not([type]),
  input[type="text"],
  input[type="number"],
  input[type="password"] {
    font-family: $font-family;
    font-size: $font-size;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 4px 9px 4px 9px;
    margin: 0;
    line-height: 1;
    outline: none;
  }

  .row {
    margin-bottom: 10px;
  }

  .json {
    white-space: pre-wrap;
  }
}

.block-application {
  flex: 1;
  display: flex;
  flex-direction: column;
  > .navigation {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid fade-out(#000, 0.9);
    align-items: center;
    > .name {
      margin: 0 15px;
    }
    > a {
      display: block;
      padding: 8px 15px 7px 15px;
      text-decoration: none;
      &.active {
        background: fade-out(#000, 0.2);
        color: #fff;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1px;
          height: 1px;
          background: fade-out(#000, 0.2);
        }
      }
    }
  }
  > .content {
    margin: 10px;
    flex: 1;
  }
  > .stats {
    margin: 50px 0 0 0;
  }
}

.block-stats {
  border-top: 1px solid fade-out(#000, 0.9);
  padding: 10px;
  font-size: $font-size-smaller;
  > .section {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    > .label {
      font-weight: 600;
    }
  }
}
