@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

$font-family: 'Ubuntu Mono';
$font-size: 14px;
$font-size-smaller: 12px;

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#application {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  cursor: default;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  * {
    box-sizing: border-box;
  }

  @import "breakpoints";
  @import "application";
  @import "playground";
  @import "remark";
  @import "route/index";

}
