@import "body";
@import "playground";

.route-index {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    > .title {
      font-weight: 600;
      margin-bottom: 5px;
    }
    > .links {
      display: flex;
      flex-direction: row;
      font-size: $font-size-smaller;
      > a {
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}