@mixin button() {
  font-family: $font-code;
  font-size: $font-size;
  background: fade-out(#000, 0.2);
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 5px 9px 5px 9px;
  outline: none;
  font-size: 14px;
  margin: 0;
}

a,
a:visited,
a:active {
  color: #000;
  text-decoration: underline;
  text-decoration-color: fade-out(#000, 0.8);
  transition: text-decoration-color 0.2s ease-in-out;
  &:hover {
    text-decoration-color: fade-out(#000, 0.1);
  }
}

button,
input[type="button"] {
  @include button();
}

button:disabled,
input[type="button"]:disabled {
  color: #999;
}

input:not([type]),
input[type="text"],
input[type="number"],
input[type="password"] {
  font-family: $font-code;
  font-size: $font-size;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 4px 9px 4px 9px;
  margin: 0;
  line-height: 1;
  outline: none;
}

textarea {
  font-family: $font-code;
  font-size: $font-size;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 5px;
  margin: 0;
  line-height: 1;
  outline: none;
}

.input-file {
  position: relative;
  width: 300px;
  height: 24px;
  > .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.00000001;
  }
  > .button {
    @include button();
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

.row {
  > .label {
    font-weight: 600;
    margin-bottom: 3px;
  }
  margin-bottom: 15px;
  > .row {
    margin-bottom: 5px;
  }
}

.json {
  font-family: $font-code;
  white-space: pre-wrap;
}

.block-changes {
  font-family: $font-code;
  user-select: none;
  > .log {
    white-space: pre-wrap;
  }
}

.block-master-detail {
  @include breakpoint(post-tablet) {
    $w: 200px;
    > .master {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: $w;
      border-right: 1px solid fade-out(#000, 0.95);
      padding: 30px 20px 20px 25px;
      overflow-y: scroll;
    }
    > .detail {
      border-left: $w solid rgba(0,0,0,0);
      padding: 15px 40px 40px 40px;
    }
  }

  @include breakpoint(non-desktop) {
    padding: 15px;
    @include breakpoint(tablet) {
      padding: 25px;
    }
    > .master {
      padding-bottom: 25px;
      margin-bottom: 50px;
      border-bottom: 1px solid fade-out(#000, 0.95);
    }
  }
}

.block-toc {
  a {
    text-decoration: none;
  }
  > .header {
    > a {
      display: block;
      font-size: $font-size-smaller;
    }
    > .title {
      font-size: $font-size;
      font-weight: 600;
      > .version {
        font-weight: 400;
        font-size: $font-size-smaller;
      }
    }
    margin-bottom: 15px;
  }
  > .pages {
    font-size: $font-size-smaller;
    > .page {
      margin-bottom: 15px;
      .page {
        margin-left: 8px;
      }
    }
  }
}
