@mixin button() {
  font-family: $font-family;
  font-size: $font-size;
  background: fade-out(#000, 0.2);
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 5px 9px 5px 9px;
  outline: none;
  font-size: 14px;
  margin: 0;
}

a,
a:visited,
a:active {
  color: #000;
}

button,
input[type="button"] {
  @include button();
}

button:disabled,
input[type="button"]:disabled {
  color: #999;
}

input:not([type]),
input[type="text"],
input[type="number"],
input[type="password"] {
  font-family: $font-family;
  font-size: $font-size;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 4px 9px 4px 9px;
  margin: 0;
  line-height: 1;
  outline: none;
}

.input-file {
  position: relative;
  width: 300px;
  height: 24px;
  > .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.00000001;
  }
  > .button {
    @include button();
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

.row {
  > .label {
    font-weight: 600;
    margin-bottom: 3px;
  }
  margin-bottom: 15px;
  > .row {
    margin-bottom: 5px;
  }
}

.json {
  white-space: pre-wrap;
}

.block-changes {
  > .log {
    white-space: pre-wrap;
  }
}
