.remark {
  > .root {
    @import "hljs/index";
    @mixin header-code() {
      > code {
        font-family: $font-code;
        display: inline-block;
        font-size: 14px;
      }
    }
    h1 {
      font-weight: 400;
      font-size: 21px;
      margin: 40px 0 0 0;
      @include header-code();
    }
    h2 {
      font-weight: 400;
      font-size: 18px;
      margin: 50px 0 0 0;
      @include header-code();
    }
    h1 + h2 {
      margin-top: 40px;
    }
    h3 {
      font-weight: 400;
      font-size: 17px;
      margin: 48px 0 0 0;
      @include header-code();
    }
    h2 + h3 {
      margin-top: 48px;
    }
    blockquote {
      margin: 0;
      border-left: 2px solid #ddd;
      padding: 0 0 0 10px;
    }
    li {
      padding: 0 0 5px 0;
      > p {
        margin: 0;
      }
      &:last-child {
        padding: 0;
      }
    }
    > *:first-child {
      margin-top: 15px;
    }
    code {
      font-family: $font-code;
      display: inline-block;
      font-weight: 600;
    }
    pre code {
      font-weight: 400;
    }
  }
}
