<div style="margin-bottom: 20px">
  {{#ui-block/browser title='app/store.js' width=500 height=350 as |browser|}}
  {{/ui-block/browser}}
</div>
<div style="margin-bottom: 20px">
  {{#ui-block/browser title='Console' width=500 height=250 as |browser|}}
  {{/ui-block/browser}}
</div>
