rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isEqualToString(data, key, expected) {
      return key in data.keys() && data.get(key, null) == expected;
    }

    match /messages/{message} {
      allow read: if true;
      allow create: if !isEqualToString(request.resource.data, 'name', 'fail');
      allow update: if !isEqualToString(request.resource.data, 'name', 'fail');
      allow delete: if true;
    }

    match /ducks/{duck} {
      allow read: if true;
      allow create: if !isEqualToString(request.resource.data, 'name', 'fail');
      allow update: if !isEqualToString(request.resource.data, 'name', 'fail');
      allow delete: if true;
    }

    match /{path=**}/feathers/{feather} {
      allow read: if true;
      allow write: if true;
    }

    match /posts/{post} {
      allow read: if true;
      allow write: if true;
    }

    match /{path=**}/messages/{doc} {
      allow read: if true;
    }

  }
}
