rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isEqualToString(value, expected) {
      return value is string && value == expected;
    }

    match /messages/{message} {
      allow read: if true;
      allow write: if !isEqualToString(request.resource.data.name, 'fail');
    }

    match /ducks/{duck} {
      allow read: if true;
      allow write: if true;
    }

    match /posts/{post} {
      allow read: if true;
      allow write: if true;
    }

    match /{path=**}/messages/{doc} {
      allow read: if true;
    }

  }
}
