rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /hello {
    	allow read: if true;
      allow write: if true;
    }

    match /files/{file} {
      allow read: if true;
      allow write: if true;
    }

  }
}
