{{#ui-block/rows as |rows|}}

  {{#each experiments as |experiment|}}
    {{#rows.row}}
      <div class="strong">{{link-to experiment.name experiment.route}}</div>
      <div>{{experiment.description}}</div>
    {{/rows.row}}
  {{/each}}

{{/ui-block/rows}}
