<div class="header">
  <div class="left">
    <div class="button red"></div>
    <div class="button yellow"></div>
    <div class="button green"></div>
  </div>
  <div class="middle">{{title}}</div>
</div>
<div class="content">
  {{yield}}
</div>
