<div class="route-playground-dev">

  <div class="row">
    {{#each this.query.content as |doc|}}
      <div class="row">{{doc}}</div>
    {{/each}}
  </div>

  <div class="row">
    {{this.doc}}
  </div>

  <div class="row">
    <input type="button" {{on "click" this.add}} value="Add"/>
  </div>

</div>