<div class="route-playground-dev">

  <div class="row">
    <Json @value={{this.doc}}/>
  </div>

  <div class="row">
    <Block::Changes as |Changes|>
      <Changes.Property @key="doc.data.name" @value={{this.doc.data.name}}/>
    </Block::Changes>
  </div>

</div>