<div class="route-playground-document">

  <div class="row">
    <Json @value={{this.doc}}/>
  </div>

  <div class="row">
    <Input @type="text" @value={{this.name}} @placeholder="name"/>
    <input type="button" value="Save" {{on "click" this.save}}/>
  </div>

</div>