<div class="navigation">
  <div class="name">zuglet@next</div>
  <LinkTo @route="index">index</LinkTo>
  <LinkTo @route="document">doc</LinkTo>
  <LinkTo @route="query.array">query.array</LinkTo>
  <LinkTo @route="query.single">query.single</LinkTo>
  <LinkTo @route="models">models</LinkTo>
</div>