<div class="navigation">
  <div class="name">zuglet@next</div>
  <LinkTo @route="index">index</LinkTo>
  <LinkTo @route="one">one</LinkTo>
  <LinkTo @route="one.a">one/a</LinkTo>
  <LinkTo @route="one.b">one/b</LinkTo>
  <LinkTo @route="two">two</LinkTo>
</div>