<div class="title">ember-cli-zuglet</div>
<div class="subtitle">
  <a href="https://emberjs.com/" target="top">Ember.js</a>
  addon for
  <a href="https://firebase.google.com/">Firebase</a>
  –
  <a href="https://firebase.google.com/products/firestore/" target="top">Firestore</a>,
  <a href="https://firebase.google.com/products/auth/" target="top">Auth</a>,
  <a href="https://firebase.google.com/products/storage/" target="top">Storage</a>,
  …
</div>
