<div class="header">
  <div class="title">ember-cli-zuglet</div>
  <div class="pages">
    {{link-to 'index' 'index'}}
    {{link-to 'data' 'data'}}
  </div>
</div>
<div class="content">
  {{yield}}
</div>

{{set-global store=store}}
