<div class="block-changes">
  {{#each this.changes as |change|}}
    <div class="change">{{change.key}}: {{change.value}}</div>
  {{/each}}
  {{yield (hash
    Property=(component 'block/changes/property' onPropertyChange=this.onPropertyChange)
  )}}
</div>