<div class="row">
  <div class="row">{{@message}}</div>
  <div class="row">
    <Input @type="text" @value={{@message.doc.data.name}} @placeholder="name"/>
  </div>
  <div class="row">
    <input type="button" value="Save" {{on "click" this.save}}/>
    <input type="button" value="Delete" {{on "click" this.delete}}/>
  </div>
</div>