<div class="block-stats">
  <div class="section">
    <div class="label">Activated</div>
    <div class="models">
      {{#each this.store.stores.stats.activated as |model|}}
        <div class="model">{{model}}</div>
      {{/each}}
    </div>
  </div>
</div>