<div class="block-toc">
  <div class="header">
    <LinkTo class="title" @route="index">ember-cli-zuglet</LinkTo>
    <LinkTo @route="docs">Documentation</LinkTo>
  </div>
  <Block::Toc::Pages @page={{@page}}/>
</div>