<div class="route-dev">

  <div class="row">
    <Json @value={{this.doc}}/>
  </div>

  <div class="row">
    <input type="button" value="Save" {{on "click" this.save}}/>
    <input type="button" value="Delete" {{on "click" this.delete}}/>
  </div>

</div>