<div class="route-dev">

  <div class="row">
    First: {{this.first}}
  </div>

  <div class="row">
    Last: {{this.last}}
  </div>

  <div class="row">
    {{#each this.observer.proxy as |item|}}
      <div>{{item}}</div>
    {{/each}}
  </div>

</div>