<div class="route-dev">

  <div class="row">
    {{this.thing.__state__}}
  </div>

  <div class="row">
    {{this.thing2.__state__}}
  </div>

  <div class="row">
    <Json @value={{this.thing}}/>
  </div>
  <div class="row">
    <Json @value={{this.thing2}}/>
  </div>

</div>