<div class="route-functions">

  <div class="row">
    <Json @value={{this.store.functions}}/>
  </div>

  <div class="row">
    <Json @value={{this.response}}/>
  </div>

  <div class="row">
    <input type="button" value="Call echo" {{on "click" this.invoke}}/>
  </div>

</div>