<div class="route-index">

  <Block::Index::Section class="header">
    <div class="fire"></div>
    <div class="header"><span class="prefix">ember install&nbsp;</span><span class="value">ember-cli-zuglet</span></div>
    <div class="description">Ember.js Octane addon for effortless Firebase integration.</div>
  </Block::Index::Section>

  <Block::Index::Section class="links">
    <LinkTo @route="playground">Playground</LinkTo>
    <a href="https://github.com/ampatspell/zuglet-next" target="top">GitHub</a>
  </Block::Index::Section>

  <Block::Index::Section class="remark" @aside="about">
    <Block::Remark @page={{@pages.about}}/>
  </Block::Index::Section>

  <Block::Index::Section class="remark" @aside="why">
    <Block::Remark @page={{@pages.why}}/>
  </Block::Index::Section>

  <Block::Index::Section class="remark" @aside="install">
    <Block::Remark @page={{@pages.install}}/>
  </Block::Index::Section>

  <Block::Index::Section class="remark" @aside="use">
    <Block::Remark @page={{@pages.use}}/>
  </Block::Index::Section>

  <Block::Index::Section class="author" @aside="author">
    <p>
      This addon is built and maintained by <a href="https://www.amateurinmotion.com" target="top">Arnis Vuskans</a>,
      contact me at <a href="mailto:ampatspell@gmail.com">ampatspell@gmail.com</a> for Ember.js and Firebase consulting.
    </p>
  </Block::Index::Section>

</div>