<div class="route-playground">
  <Block::Playground::Navigation class="navigation"/>
  <div class="content">
    {{yield}}
  </div>
  <div class="stats">
    <Zuglet::Stats @stores={{false}}/>
  </div>
</div>
