<div class="route-models">

  <div class="row">
    <input type="button" value="Add new message" {{on "click" this.add}}/>
  </div>

  {{#each @model.models as |model|}}
    <Block::Message @message={{model}}/>
  {{/each}}

</div>