.ui-block-content-header {
  $height: 60px;
  height: $height;
  > .content {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: $height;
    padding: 0 25px;
    line-height: $height;
    box-shadow: 0 1px 2px fade-out(#000, 0.9);
    background: #fff;
    display: flex;
    flex-direction: row;
    > .item {
      text-decoration: none;
      margin-right: 10px;
      &:after {
        margin-left: 10px;
        font-weight: 400;
        content: '/';
        color: #666;
      }
      &:last-child {
        margin: 0;
        &:after {
          margin: 0;
          content: '';
        }
      }
    }
    > .main {
      font-weight: 600;
    }
  }
}
